In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib as mpl

import os

In [10]:
# check current dir
os.getcwd()

'/Users/nguyenhads/Desktop/Projects/online-retail-data-analysis/notebooks'

In [11]:
DATA_PATH = "/Users/nguyenhads/Desktop/Projects/online-retail-data-analysis/data/raw/online_retail.csv"

In [12]:
raw_df = pd.read_csv(DATA_PATH)

In [14]:
retail = raw_df.copy()

# Check data

In [15]:
retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [16]:
retail.shape

(1044847, 8)

In [17]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044847 entries, 0 to 1044846
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   InvoiceNo    1044847 non-null  object
 1   StockCode    1044847 non-null  object
 2   Description  1040572 non-null  object
 3   Quantity     1044847 non-null  int64
 4   InvoiceDate  1044847 non-null  object
 5   UnitPrice    1044847 non-null  float64
 6   CustomerID   809560 non-null   float64
 7   Country      1044847 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 63.8+ MB

In [20]:
retail.isna().sum()

InvoiceNo           0
StockCode           0
Description      4275
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     235287
Country             0
dtype: int64

In [19]:
retail.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object